version: '3.8'

services:
  # 1. Database
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=cosre_user
      - POSTGRES_PASSWORD=cosre_password
      - POSTGRES_DB=cosre_db
    ports:
      - "5432:5432"

  # 2. Backend
  backend:
    build: ./backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://cosre_user:cosre_password@db:5432/cosre_db

  # 3. Frontend
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true

  # 4. LiveKit Server (CẤU HÌNH FIX LỖI)
  livekit:
    image: livekit/livekit-server
    # Đọc file cấu hình chúng ta vừa tạo
    command: --config /etc/livekit.yaml
    ports:
      - "7880:7880"
      - "7881:7881"
      - "7882:7882/udp" # Cổng video quan trọng
    volumes:
      # Nạp file từ máy thật vào trong Docker
      - ./livekit.yaml:/etc/livekit.yaml

volumes:
  postgres_data: