name: Build and Push Docker

on:
  push:
    branches: [ "main" ]

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: Khoa-dev7
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: Khoa-dev7/collabsphere-be:latest

      - name: Build Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: Khoa-dev7/collabsphere-fe:latest